# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (can opt-in for committing if needed)
.env*
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/
*.swp
*.swo

# Firebase
firebase-debug.log*
firebase-debug.*.log*
.firebase/
firebase-admin.json
firebaseConfig.js
serviceAccountKey.json

# SFTP configs
sftp.json
.sftp.json
**/*.sftp.json

# API keys and secrets
**/config/keys.js
**/config/secrets.js
**/config/*.key
**/config/*.pem

# Credentials
**/credentials.json
**/credentials.*.json
**/client_secret*.json
my-restful-api/data/last_cleanup.txt

# Environment variables
.env
vendor/

# Firebase
# firestore.js

# Database
db/webtech_fall2024_nana_amoako.sql

# Firebase Admin SDK
nanoclip-98ea7-firebase-adminsdk-ov708-28b4b0f5de.json